# Python
__pycache__/
*.pyc
.venv/
venv/

#uploaded docs
backend/uploads/

# Environment
.env

# VS Code
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Qdrant local database
qdrant_storage/